<mat-card class="login">
  <mat-card-header class="login__header header">
    <mat-card-title class="header___title">SignUp</mat-card-title>
  </mat-card-header>
  <mat-card-content class="login__content content">
    <form [formGroup]="signupForm" class="login__form form">



        <mat-form-field appearance="fill">
          <mat-label> First Name</mat-label>
          <input matInput type="text" formControlName="firstName" required>
          <mat-error *ngIf="signupForm.get('firstName')?.hasError('required')">First Name is required</mat-error>
        </mat-form-field>




        <mat-form-field appearance="fill">
          <mat-label> Last Name</mat-label>
          <input matInput type="text" formControlName="lastName" required>
          <mat-error *ngIf="signupForm.get('lastName')?.hasError('required')">Last Name is required</mat-error>
        </mat-form-field>




      <mat-form-field appearance="fill">
        <mat-label> Email</mat-label>
        <input matInput type="email" formControlName="email" required>
        <mat-error *ngIf="signupForm.get('email')?.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="signupForm.get('email')?.hasError('email')">Email should be valid</mat-error>
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password"  formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="signupForm.get('password')?.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">Minlength of the password is 8 characters</mat-error>

      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Confirm your password</mat-label>
        <input matInput type="password"  formControlName="confirmPassword" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="signupForm.get('confirmPassword')?.hasError('required')">Confirm password is required</mat-error>
        <mat-error *ngIf="signupForm.get('confirmPassword')?.hasError('minlength')">Minlength of the confirm password is 8 characters</mat-error>
        <mat-error *ngIf="signupForm.hasError('passwordsMisMatch')">Passwords should Match</mat-error>
      </mat-form-field>

    </form>
    <button class="login__btn" mat-raised-button color="primary" [disabled]="!signupForm.valid" type="submit" (click)="onSubmit()">SignUp</button>
  </mat-card-content>
  <a routerLink="/login"  >Have an account? Login</a>
</mat-card>
