<header class="header">
  <div class="header__logo logo">
    <mat-icon color="primary" class="logo__icon">play_circle_filled</mat-icon>
    <h1 class="logo__title">Video Course</h1>
  </div>
  <div class="header__user-auth user-auth">
    <button class="user-auth_login">
      <mat-icon color="primary">account_circle</mat-icon>
      User Login
    </button>
    <button class="user-auth_logoff">
      <mat-icon color="primary">exit_to_app</mat-icon>
      User Logoff
    </button>
  </div>
</header>
